/* Base Style */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body{
    background: white;
}

section{
    padding: 2rem 9%;
}

/* INTRO */
.intro-box{
    margin-top: 4.5rem;
    display: flex;
}

.intro-pic{
    flex: 33.33%;
    padding: 5px;
}

.intro-box .intro-pic img{
    width: 100%;
    margin-bottom: 1rem;
}

.reservation{
    font-size: 5rem;
    color: #E28032;
    padding-top: 0.5rem;
    margin: 3rem;
    position: relative;
    text-align: center;
}

/* FROM TUTORIAL */
.bodys{
    display: flex;
    height: 50rem;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #ffdb89, #9b59b6);
    margin-bottom: -7rem;
}

.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #ffdb89, #9b59b6);
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

form input[type="date"]{
    color: rgba(133, 133, 133);
    font-size: 16px;
}

::-webkit-calendar-picker-indicator{
    background-color: #fff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #9b59b6;
}

form .payment-details .payment-title{
    font-size: 20px;
    font-weight: 500;
}

form .payment-details .category{
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

.payment-details .category label{
    display: flex;
    align-items: center;
}

.payment-details .category .dot{
    height: 18px;
    width: 18px;
    background: #D9D9D9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked ~ .category .one,
#dot-2:checked ~ .category .two,
#dot-3:checked ~ .category .three,
#dot-4:checked ~ .category .four,
#dot-5:checked ~ .category .five{
    border-color: #D9D9D9;
    background: #9b59b6;
}

form input[type="radio"]{
    display: none;
}

form .button{
    height: 45px;
    margin: 45px 0;
}

form .button button{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500px;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

form .button button:hover{
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

/* BACK */
.back-button{
    top: 6rem;
    left: 2rem;
    padding: 0.5rem 1rem;
    position: fixed;
    border: 0.3rem solid #F7CB21;
}

.back-button a{
    font-size: 2rem;
    font-weight: 800;
    color: #F7CB21;
}

.back-button:hover{
    background: grey;
    border: 3px solid grey;
    transition: 0.2s;
}

.back-button a:hover{
    color: #fff;
    transition: 0.2s;
}

/* NAVIGATION BAR */
header{
    position: fixed;
    z-index: 1000;
    height: 70px;
    width: 100%;
    top: 0;
    padding: 0 100px;
    display: flex;
    background: #E28032;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin: 2rem;
    font-size: 2.2rem;
    font-weight: bold;
    color: #fff;
}

.ham-button{
    display: none;
}

.navigation-bar ul{
    list-style: none;
    display: flex;
}

.navigation-bar ul li a{
    display: block;
    color: #fff;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 8px 16px;
    margin: 0 10px;
    transition: 0.2s;
}

.navigation-bar ul li a:hover{
    font-weight: 700;
    color: #E28032;
    background-color: #fff;
}

.navigation-bar ul li a.active{
    font-weight: 700;
    color: #E28032;
    background: #fff;
}

/* FOOTER */
.footer{
    position: relative;
    top: 150px;
    background-color: #E28032;
}

.footer .part-footer{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.footer .part-footer .part{
    position: relative;
    flex: 1 1 15rem;
    padding-bottom: 1rem;
}

.footer .part-footer .part h2{
    color: white;
    font-size: 2rem;
    padding: 1rem 0;
    margin-bottom: 1rem;
    border-bottom: 0.2rem solid #fff;
}

.footer .part-footer .part h1{
    color: white;
    font-size: 1.2rem;
    padding: 0.2rem 0;
    margin-bottom: 0.2rem;
}

.footer .part-footer .part a{
    display: block;
    color: white;
    font-size: 1.2rem;
    padding: 0.5rem 0;
}

.footer .part-footer .part a:hover{
    color: #E3E3E3;
    text-decoration: underline;
}

.footer .copyright{
    position: relative;
    text-align: center;
    margin-top: 0.8rem;
    font-size: 1.2rem;
    color: white;
}

/* RESPONSIVE */
@media(max-width: 1400px){
    header{
        padding: 0 20px;
    }
}

@media(max-width: 1280px){
    header{
        padding: 0 30px;
    }
    .ham-button{
        display: block;
        cursor: pointer;
    }
    .ham-button .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 6px 0;
    }
    .navigation-bar{
        position: fixed;
        height: 0;
        width: 20vw;
        top: 70px;
        right: 0;
        background: #E28032;
        transition: 0.2s;
        overflow: hidden;
    }
    .navigation-bar.active{
        height: 325px;
    }
    .navigation-bar ul{
        display: block;
        width: fit-content;
        margin: 25px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .navigation-bar.active ul{
        opacity: 1;
    }
    .navigation-bar ul li a{
        margin-bottom: 20px;
    }
}

@media(max-width: 768px){
    .footer .part-footer{
        gap: 1rem;
    }
    .footer .part-footer .part{
        flex: 1 1 10rem;
    }
    .footer .part-footer .part h2{
        font-size: 1.5rem;
    }
    .footer .part-footer .part h1{
        font-size: 0.8rem;
    }
    .footer .part-footer .part a{
        font-size: 0.8rem;
    }
    .footer .copyright{
        font-size: 0.8rem;
    }
}

@media(max-width: 584px){
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    form .gender-details .category{
        width: 100%;
    }
    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 0;
    }
}